rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /trucks/{document} {
      allow read, write: if true;
    }
    match /bookings/{document} {
      allow read, write: if true;
    }
    match /negotiations/{document} {
      allow read, write: if true;
    }
    match /consignments/{document} {
      allow read, write: if true;
    }
  }
}
